.nav-bg {
  background-color: white;
}

.logo {
  width: 180px;
  height: 30px;
  margin-left: 40px;
}

.li-items {
  color: black;
  margin: 20px;
  text-decoration: none;
  padding: 2px;
}

.btn,
.btn:hover {
  background-color: rgb(0, 159, 127);
}

.btn {
  color: white;
  font-size: 25px;
  font-weight: 800;
  border: none;
  min-width: 50px;
  font: 15px bold;
}

.btn:hover {
  background-color: rgb(0, 159, 127);
}

.form-select {
  width: 150px;
  margin-right: 370px;
}

.home {
  background-image: url('https://pickbazar-react-rest.vercel.app/_next/image?url=https%3A%2F%2Fpickbazarlaravel.s3.ap-southeast-1.amazonaws.com%2F904%2Fgrocery.png&w=1920&q=75');
  height: 100vh;
  background-size: cover;
}

.home-text {
  text-align: center;
  justify-content: center;
  padding: 220px;
  font-size: 50px;
  font-weight: 700;
  margin-left: 60px;
}

.home-para {
  position: absolute;
  top: 48%;
  left: 28%;
  font-size: 20px;
}

.home-search {
  width: 50%;
  position: absolute;
  top: 60%;
  left: 25%;
}

.home-btn {
  padding: 20px;
  padding-right: 50px;
  border-radius: 1px;
}

.item {
  padding-left: 300px;
  padding-right: 40px;
  flex-wrap: wrap;
}

.card {
  padding-left: 20px;
  margin-left: 10PX;
}

.home-img {
  width: 300px;
  padding-right: 80px;
}

.home-discount {
  background-color: rgb(0, 159, 127);
  position: absolute;
  font-size: 12px;
  color: white;
  padding: 7px;
  font-weight: 600;
  margin-left: 230px;
  /* border-radius: 10px; */
}

.count-btn {
  /* padding: 20px; */
  padding-right: 50px;
  border-radius: 1px;
}

.fixed-btn {
  position: fixed;
  top: 280px;
  left: 1230px;
  width: 120px;
  padding: 20px;
  font-weight: 700;
}

.fixed-btn:hover {
  color: white
}

.span-text {
  background-color: white;
  padding: 10px;
  color: rgb(0, 159, 127);
}
.home-icon{
  font-size: 20px;
}